<!DOCTYPE html>
<html layout:decorate="layoutCosplay" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <layout:fragment name="header">
            <link rel="stylesheet" href="/css/cosplay.css">
            <link rel="stylesheet" href="/css/footer.css">
            <link rel="stylesheet" href="/css/listviewProduct.css">
        </layout:fragment>
    </head>

<body class="main-layout" >
<div layout:fragment="content">
    <h1 style="padding-top: 150px; text-align: center; font-size: 50px; background-color: white;">
        <span class="base" th:text="${nameSub ?: 'N/A'}"> </span></h1>

    <!-- product -->
    <div id="container_product">
        <div class="content-container">
            <!-- Bộ lọc -->
            <div class="filters">
                <button>Bộ lọc</button>
                <select>
                    <option>Giá</option>
                </select>
                <select>
                    <option>Tên</option>
                </select>
                <select>
                    <option>Bán chạy</option>
                </select>
                <select>
                    <option>Mới</option>
                </select>
                <button>Xếp theo: Giá</button>
            </div>

            <div th:if="${nullProduct != null and nullProduct != ''}" class="alert alert-warning" role="alert">
                <span th:text="${nullProduct}"></span>
            </div>

            <div id="totalPages" style="display:none;" th:attr="data-total-pages=${totalPages}"></div>
            <div id="categoryId" style="display:none;" th:attr="data-category-id=${categoryId}"></div>

            <div th:if="${nullProduct == null or nullProduct == ''}">
            <ul class="product-list">
                    <li class="product-item" th:each="product : ${products}">
                        <a th:href="@{/productDetail/{id}(id=${product.id})}">
                            <img th:src="@{'/images/product/' + ${product.firstImage}}" alt="Product Image">
                            <div class="product-info">
                                <h4 th:text="${product.nameProduct ?: 'No name available'}">Tên sản phẩm</h4>
                                <p class="product-price" th:text="${product.price ?: 'N/A'}"></p>
                            </div>
                        </a>
                    </li>
            </ul>
            </div>
        </div>
    </div>

    <!-- end-paginate-->
    <div th:if="${nullProduct == null or nullProduct == ''}">
        <div class="container-paginate middle">
            <div class="pagination">
                <ul>
                    <li>
                        <a href="#" data-page="${currentPage - 1}"
                           th:if="${currentPage > 0}">&lt; Prev</a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                        <a href="#" th:text="${i + 1}"
                           th:attr="data-page=${i}"
                           th:classappend="${i == currentPage} ? 'active' : ''">>
                        </a>
                    </li>

                    <li>
                        <a href="#"  th:attr="data-page=${currentPage + 1}"
                           th:if="${currentPage < totalPages - 1}">Next &gt;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end-paginate-->

    <!-- end product -->
</div>

<div th:fragment="js">
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/popper.min.js"></script>
    <script src="/js/libs/bootstrap.bundle.min.js"></script>
    <script src="/js/libs/jquery-3.0.0.min.js"></script>
    <script src="/js/service/product.js"></script>
</div>
</body>
</html>

