<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
        <title>beautySGU</title>

        <link rel="stylesheet" href="/css/myOrder.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="/images/fevicon.png" type="image/gif" />
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="main-layout">
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 div_btn_home">
                <a href="/home"><button class="btn_home"><i class="fa-solid fa-house"></i> Home</i></button></a>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-9 col-sm-9">
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Nhập từ khóa tìm kiếm...">
                    <button class="search-button">
                        <i class="fas fa-search"></i> <!-- Icon tìm kiếm -->
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
<!-- content-->
    <div id="content_order">
        <div class="col-12">
            <h2 class="h3 mb-3 text-black">Đơn hàng của tôi</h2>
            <div class="row" th:each="item : ${myOrder}">
                <div class="alert alert-light col-12" role="alert">
                    <h5 class="alert-heading">
                        <span th:text="'Mã đơn hàng: ' + ${item.id} + ' / Ngày: ' + ${item.orderDate}"></span>
                    </h5>
                    <hr>
                    <p class="mb-0">
                        Tổng hóa đơn: <b th:text="${item.totalPrice} + ' VNĐ'"></b> / Thành tiền:
                        <b th:text="${item.totalQuantity} + ' sản phẩm'"></b>
                    </p>
                    <p class="font-weight-light mb-2">Tình trạng đơn hàng:
                        <mark th:text="${item.status ? 'Đã xử lý' : 'Đang chờ xử lý'}"></mark>
                    </p>
                    <p class="font-weight-light mb-2">Ngày lấy:
                        <mark th:text="${item.pickupDate != null ? item.pickupDate  : 'Đang chờ xử lý'}"></mark>
                    </p>

                    <div class="alert alert-primary" role="alert">
                        <a th:href="@{'/user/orderDetail/' + ${item.id}}" class="alert-link">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end-content-->
</body>
</html>