<!DOCTYPE html>
<html layout:decorate="layoutCosplay" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <head>
        <layout:fragment name="header">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>beautySGU</title>
        <!-- bootstrap css -->
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/cosplay.css">
        <link rel="stylesheet" href="css/productDetail.css">
        <link rel="stylesheet" href="css/footer.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="css/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet'>

        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
        </layout:fragment>
    </head>
</head>
<body class="main-layout" >
<div layout:fragment="content">
<!-- product-->
<div id="container_product">

    <div class="container" id="container_product_top">
        <div class="left-column">
            <div class="image-gallery">
                <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="Main Costume" class="main-image">
                <div class="thumbnail-gallery">
                    <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="Thumbnail 1">
                    <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="Thumbnail 2">
                    <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="Thumbnail 3">
                </div>
            </div>
        </div>

        <div class="right-column">
            <h1>Mobile Suit Gundam SEED FREEDOM Shinn Asuka Cosplay Costume</h1>
            <p class="price">$108.00</p>
            <p><strong>SKU:</strong> Shinn Asuka</p>
            <p><strong>Processing Time:</strong> 25-35 days</p>

            <form>
                <label for="gender">Gender:</label>
                <select id="gender">
                    <option value="">-- Please Select --</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <label for="size">Size:</label>
                <select id="size">
                    <option value="">-- Please Select --</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                </select>

                <label for="use-date">Use Date:</label>
                <input type="date" id="use-date">

                <label for="quantity">Qty:</label>
                <input type="number" id="quantity" min="1" value="1">

                <button type="submit" class="add-to-cart">Add to Cart</button>
            </form>
        </div>
    </div>

    <div id="container_product_bottom" class="container data items mage-tabs-disabled">
        <div class="product-data-items-menu" role="tablist">

            <div class="data item title active" aria-labeledby="tab-label-attributedescription-title" data-role="collapsible" id="tab-label-attributedescription" role="tab" data-collapsible="true" aria-controls="attributedescription" aria-selected="false" aria-expanded="true" tabindex="0">
                <a class="data switch" tabindex="-1" data-toggle="switch" href="#attributedescription" id="tab-label-attributedescription-title">
                    Details
                </a>
            </div>
        </div>
        <div class="product-data-items-content">

            <div class="title-accordion  echo active  accordion-attributedescription" data-toggle="#attributedescription"><span>Details<span></span></span></div>
            <div class="data item content" id="attributedescription" data-role="content" aria-labelledby="tab-label-attributedescription" role="tabpanel" aria-hidden="false">
                <div class="product attibute description">
                    <div class="value">
                        <p><strong>Features:</strong></p>
                        <p>Comfortable fabric ensures all-day wearability for Feixiao cosplay.<br>Exquisite accessories add authenticity to Feixiao’s fanart design.<br>Leather belt adds a bold, stylish touch to the overall look.<br>Perfect for Honkai: Star Rail fans, bring Feixiao to life with ease.<br>Ideal for cosplay events, embody Feixiao’s unique, striking style!</p>
                        <div id="list_img">
                            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="">
                            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume2.jpg" alt="">
                            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume3.jpg" alt="">
                            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume4.jpg" alt="">
                            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume5.jpg" alt="">
                            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume6.jpg" alt="">
                            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume7.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="related-products-container">
    <h1>Danh mục liên quan </h1>
    <!-- Các danh mục đã có -->
    <div id="list_related_product">
        <div class="related-product">
            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="New Cosplay Costume">
            <h4>New Cosplay Costume</h4>
            <p>$99.99</p>
        </div>
        <div class="related-product">
            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="New Cosplay Costume">
            <h4>New Cosplay Costume</h4>
            <p>$99.99</p>
        </div>
        <div class="related-product">
            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="New Cosplay Costume">
            <h4>New Cosplay Costume</h4>
            <p>$99.99</p>
        </div>
        <div class="related-product">
            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="New Cosplay Costume">
            <h4>New Cosplay Costume</h4>
            <p>$99.99</p>
        </div>
    </div>
</div>

<!-- end product -->
</div>


    <div th:fragment="js">
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery-3.0.0.min.js"></script>
        <script src="js/custom.js"></script>
        <script>
            $('a[href^="#"]').on('click', function(event) {

             var target = $(this.getAttribute('href'));

             if( target.length ) {
                 event.preventDefault();
                 $('html, body').stop().animate({
                     scrollTop: target.offset().top
                 }, 2000);
             }

            });
        </script>
    </div>
</body>
</html>