<!DOCTYPE html>
<html layout:decorate="layoutCosplay" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <head>
        <layout:fragment name="header">
            <link rel="stylesheet" href="/css/cosplay.css">
            <link rel="stylesheet" href="/css/productDetail.css">
            <link rel="stylesheet" href="/css/footer.css">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        </layout:fragment>
    </head>
</head>
<body class="main-layout" >
<div layout:fragment="content">
<!-- product-->
<div id="container_product">
    <div id="productId" style="display:none;" th:attr="product-id=${product.id}"></div>
    <div class="container" id="container_product_top">
        <div class="left-column">
            <div class="image-gallery">
                <img th:src="@{'/images/product/' + ${product.firstImage}}" alt="Product Image" class="main-image">
                <div class="thumbnail-gallery-container">
                    <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                    <div class="thumbnail-gallery">
                        <div th:each="image : ${images}">
                            <img th:src="@{'/images/product/' + ${image}}" alt="Thumbnail">
                        </div>
                    </div>
                    <button class="next" onclick="moveSlide(1)">&#10095;</button>
                </div>
            </div>
        </div>

        <div class="right-column">
            <h1 th:text="${product.nameProduct ?: 'No name available'}"></h1>
            <p class="price" th:text="${product.price ?: 'N/A'}"></p>
            <p><strong>SKU:</strong> Shinn Asuka</p>
            <p><strong>Processing Time:</strong> 3-5 days</p>

            <form>
                <label for="gender">Gender:</label>
                <select id="gender">
                    <option value="">-- Please Select --</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <label for="size">Size:</label>
                <select id="size">
                    <option value="">-- Please Select --</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                </select>

                <label for="use-date">Use Date:</label>
                <input type="date" id="use-date">

                <label for="quantity">Qty:</label>
                <input type="number" id="quantity" min="1" value="1">

                <button type="submit" class="add-to-cart" id="add_cart_btn">Add to Cart</button>
            </form>
        </div>
    </div>

    <div id="container_product_bottom" class="container data items mage-tabs-disabled">
        <div class="product-data-items-menu" role="tablist">

            <div class="data item title active" aria-labeledby="tab-label-attributedescription-title" data-role="collapsible" id="tab-label-attributedescription" role="tab" data-collapsible="true" aria-controls="attributedescription" aria-selected="false" aria-expanded="true" tabindex="0">
                <a class="data switch" tabindex="-1" data-toggle="switch" href="#attributedescription" id="tab-label-attributedescription-title">
                    Details
                </a>
            </div>
        </div>
        <div class="product-data-items-content">

            <div class="title-accordion  echo active  accordion-attributedescription" data-toggle="#attributedescription"><span>Details<span></span></span></div>
            <div class="data item content" id="attributedescription" data-role="content" aria-labelledby="tab-label-attributedescription" role="tabpanel" aria-hidden="false">
                <div class="product attibute description">
                    <div class="value">
                        <p><strong>Features:</strong></p>
                        <p>Comfortable fabric ensures all-day wearability for Feixiao cosplay.<br>Exquisite accessories add authenticity to Feixiao’s fanart design.<br>Leather belt adds a bold, stylish touch to the overall look.<br>Perfect for Honkai: Star Rail fans, bring Feixiao to life with ease.<br>Ideal for cosplay events, embody Feixiao’s unique, striking style!</p>
                        <div id="list_img" th:each="image : ${images}">
                            <img th:src="@{'/images/product/' + ${image}}" alt="Thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="related-products-container">
    <h1>Danh mục liên quan </h1>
    <!-- Các danh mục đã có -->
    <div id="list_related_product">
        <div class="related-product">
            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="New Cosplay Costume">
            <h4>New Cosplay Costume</h4>
            <p>$99.99</p>
        </div>
        <div class="related-product">
            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="New Cosplay Costume">
            <h4>New Cosplay Costume</h4>
            <p>$99.99</p>
        </div>
        <div class="related-product">
            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="New Cosplay Costume">
            <h4>New Cosplay Costume</h4>
            <p>$99.99</p>
        </div>
        <div class="related-product">
            <img src="https://d2rbvftet3l7m9.cloudfront.net/media/.renditions/wysiwyg/Mobile_Suit_Gundam_SEED_FREEDOM_Shinn_Asuka_Cosplay_Costume1.jpg" alt="New Cosplay Costume">
            <h4>New Cosplay Costume</h4>
            <p>$99.99</p>
        </div>
    </div>
</div>

<!-- end product -->
</div>


    <div th:fragment="js">
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            $('a[href^="#"]').on('click', function(event) {

             var target = $(this.getAttribute('href'));

             if( target.length ) {
                 event.preventDefault();
                 $('html, body').stop().animate({
                     scrollTop: target.offset().top
                 }, 2000);
             }
            });
        </script>

        <script>
            let currentIndex = 0;
            function moveSlide(step) {
                const gallery = document.querySelector('.thumbnail-gallery');
                const images = gallery.querySelectorAll('img');
                const totalImages = images.length;

                currentIndex += step;

                // Nếu đi vượt quá số ảnh, quay lại đầu hoặc cuối
                if (currentIndex < 0) {
                    currentIndex = totalImages - 1;
                } else if (currentIndex >= totalImages-6) {
                    currentIndex = 0;
                }
                gallery.style.transform = 'translateX(' + (-currentIndex * 100) + '%)';
            }
        </script>

        <script>

            $(document).ready(function () {
                $('#add_cart_btn').on('click', function (e) {
                    e.preventDefault();

                    const productId = document.getElementById('productId').getAttribute('product-id');
                    const gender = $('#gender').val();
                    const size = $('#size').val();
                    const useDate = $('#use-date').val();
                    const quantity = $('#quantity').val();

                    const currentDate = new Date().toISOString().split('T')[0]; // Lấy ngày hiện tại theo định dạng yyyy-mm-dd
                    if (useDate < currentDate) {
                        Swal.fire("Ngày sử dụng không thể là ngày trong quá khứ. Vui lòng chọn lại.");
                        return;
                    }

                    if (!productId|| !gender || !size || !useDate || quantity <= 0) {
                        Swal.fire("Vui lòng chọn đầy đủ thông tin trước khi thêm vào giỏ hàng.!");
                        return;
                    }

                    $.ajax({
                        url: '/api/cart/add',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            productId: productId,
                            useDate: useDate,
                            quantity: quantity
                        }),
                        success: function (response) {
                            Swal.fire({
                              position: "top-end",
                              icon: "success",
                              title: "Thêm sản phẩm vào giỏ thành công!",
                              showConfirmButton: false,
                              timer: 1500
                            }).then(() => {
                            location.reload();  // Reload trang sau khi thông báo kết thúc
                            });
                        },
                        error: function (error) {
                            Swal.fire({
                              icon: "error",
                              title: "Oops...",
                              text: "Thêm hàng vào giỏ thất bại!",
                              footer: '<a href="#">Why do I have this issue?</a>'
                            });
                        }
                    });
                });
            });
        </script>
    </div>
</body>
</html>