<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"  href="/css/profile.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>SINGED-SHOP</title>
</head>
<body>
<div id="div_home">
    <a id="home" href="/home"><button id="btn_home"><i class="fa-solid fa-house"></i> Home</button></a>
</div>
<div class='container'>
    <div class='avatar'>
        <img src="/images/avt_girl.jpg">
    </div>


    <div class='button'>
        <div class='button__icon'><i class="fa-solid fa-diamond"></i></div>
        <div class='button__text'>Tên :  </div>
        <input type="text" class="input" id="name" th:value="${user != null ? user.fullName : ''}" />
    </div>

    <div class='button' >
        <div class='button__icon'><i class='fa-solid fa-phone'></i></div>
        <div class='button__text'> Số điện thoại :  </div>
        <input type="text" class="input" id="phone" readonly  th:value="${user.phone}" />
    </div>


    <div class='button' >
        <div class='button__icon'><i class="fa-solid fa-location-dot"></i></div>
        <div class='button__text'> Địa chỉ :</div>
        <input type="text" class="input" id="address" th:value="${user != null ? user.address : ''}" />
    </div>

    <div class='button' >
        <div class='button__icon'><i class="fa-solid fa-envelope"></i></div>
        <div class='button__text'>Email :</div>
        <input type="text" class="input" id="email" th:value="${user != null ? user.email : ''}" />
    </div>

<!--    <div class='button' >-->
<!--        <div class='button__icon'><i class="fa-solid fa-venus-mars"></i></div>-->
<!--        <div class='button__text'>Giới tính : </div>-->
<!--        <select id="gender" name="gender">-->
<!--            <option value="Nam" th:selected="${user.gender == 'Nam'}">Nam</option>-->
<!--            <option value="Nữ" th:selected="${user.gender == 'Nữ'}">Nữ</option>-->
<!--            <option value="Khác"  th:selected="${user.gender == 'Khác'}">Khác</option>-->
<!--        </select>-->
<!--    </div>-->
    <div id="div_button">
        <button class="btn_save" onclick="getData()">CẬP NHẬT THÔNG TIN</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      setTimeout(alertUserProfile, 1500);
    });
    function alertUserProfile() {
      var name = document.getElementById('name').value.trim();
      var email = document.getElementById('email').value.trim();
      var phone = document.getElementById('phone').value.trim();
      var address = document.getElementById('address').value.trim();

      // Kiểm tra nếu bất kỳ trường nào bị trống
      if (!name || !email || !phone || !address) {
          Swal.fire({
              icon: 'warning',
              title: 'Thông tin chưa đầy đủ',
              text: 'Bạn nên cập nhật thông tin để sử dụng một cách tiện lợi hơn!',
              timer: 2300
          });
          return;
      }
  }

function getData() {
    var email = document.getElementById('email').value;
    var phone = document.getElementById('phone').value;
    var address = document.getElementById('address').value;
    var name = document.getElementById('name').value;

    Swal.fire({
        title: "Bạn có chắc muốn cập nhật thông tin không?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: "Lưu",
        denyButtonText: `Không lưu`
    }).then((result) => {
        if (result.isConfirmed) {
            fetchData(name, email, phone, address);
        } else if (result.isDenied) {
            Swal.fire("Chưa có thay đổi nào được lưu", "", "info");
        }
    });
}


    function fetchData(name, email, phone, address) {
        if (!name || !email || !phone || !address) {
              Swal.fire({
                  icon: 'warning',
                  title: 'Thông tin chưa đầy đủ',
                  text: 'Nên điền đầy đủ thông tin!',
                  confirmButtonText: 'Đã hiểu'
              });
              return;
        }
        $.ajax({
            url: '/api/user/update',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                fullName: name,
                email: email,
                phone: phone,
                address: address,
            }),
            success: function (response) {
                console.log(response);
                Swal.fire({
                    icon: 'success',
                    title: response,
                    text: 'Thông tin của bạn đã được cập nhật.',
                });
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Đã xảy ra lỗi khi cập nhật thông tin.',
                });
            },
        });
    }
</script>

</body>

</html>     