<!DOCTYPE html>
<html layout:decorate="layoutCosplay" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <layout:fragment name="header">
        <link rel="stylesheet" href="/css/cosplay.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/listviewProduct.css">
    </layout:fragment>
</head>

<body class="main-layout">
<div layout:fragment="content">
    <h1 style="padding-top: 150px; text-align: center; font-size: 50px; background-color: white;">
        <span class="base" th:text="${nameSub}"></span>
    </h1>

    <!-- product -->
    <div id="container_product">
        <div class="content-container">
            <!-- Bộ lọc -->
            <div class="filters">
                <button>Bộ lọc</button>
                <select>
                    <option>Giá</option>
                </select>
                <select>
                    <option>Tên</option>
                </select>
                <select>
                    <option>Bán chạy</option>
                </select>
                <select>
                    <option>Mới</option>
                </select>
                <button>Xếp theo: Giá</button>
            </div>

            <div id="totalPages" style="display:none;" th:attr="data-total-pages=${totalPages}"></div>
            <div id="categoryId" style="display:none;" th:attr="data-category-id=${categoryId}"></div>
            <div id="currentPage" style="display:none;" th:attr="data-current-page=${currentPage}"></div>
            <div id="searchKey" style="display:none;" th:attr="data-search-key=${searchKey}"></div>

            <ul class="product-list" id="productList">
            </ul>
        </div>
    </div>

    <!-- end-paginate-->
    <div th:if="${nullProduct == null or nullProduct == ''}" class="container-paginate middle" id="paginationContainer">
        <div class="pagination">
            <ul id="paginationList">

            </ul>
        </div>
    </div>
    <!-- end-paginate-->

    <!-- end product -->
</div>

<div th:fragment="js">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/service/product.js"></script>
</div>
</body>
</html>