<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import CSS Example</title>
    <link rel="stylesheet" href="/css/adminStyle.css">
    <link rel="stylesheet" href="/css/style-custom.css">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="admin-container">
    <div class="admin-content">
        <div class="admin-content-overlay show-overlay"></div>

        <div class="container-fluid mt-2">

            <h1 class="h3 mb-4 text-gray-800">Danh sách sản phẩm</h1>

            <div class="d-flex justify-content-between">
                <div id="tab-create-product" class="btn btn-primary mb-4">Thêm sản phẩm mới</div>

                <div class="admin-header-searchbar-container">
                    <input type="search" placeholder="Search" aria-label="Search">
                    <div class="admin-header-searchbar-container-icon"><svg stroke="currentColor" fill="currentColor"
                                                                            stroke-width="0" viewBox="0 0 512 512" color="gray" height="19px" width="19px"
                                                                            xmlns="http://www.w3.org/2000/svg" style="color: gray;">
                        <path
                                d="M443.5 420.2L336.7 312.4c20.9-26.2 33.5-59.4 33.5-95.5 0-84.5-68.5-153-153.1-153S64 132.5 64 217s68.5 153 153.1 153c36.6 0 70.1-12.8 96.5-34.2l106.1 107.1c3.2 3.4 7.6 5.1 11.9 5.1 4.1 0 8.2-1.5 11.3-4.5 6.6-6.3 6.8-16.7.6-23.3zm-226.4-83.1c-32.1 0-62.3-12.5-85-35.2-22.7-22.7-35.2-52.9-35.2-84.9 0-32.1 12.5-62.3 35.2-84.9 22.7-22.7 52.9-35.2 85-35.2s62.3 12.5 85 35.2c22.7 22.7 35.2 52.9 35.2 84.9 0 32.1-12.5 62.3-35.2 84.9-22.7 22.7-52.9 35.2-85 35.2z">
                        </path>
                    </svg></div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Loại</th>
                                <th>Giá</th>
                                <th>Kích cỡ</th>
                                <th>Tình trạng</th>
                                <th>Số lượng lượt thuê</th>
                                <th>Ngày tạo</th>
                                <th>Sửa thông tin</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.id}"></td>
                                <td th:text="${product.nameProduct}"></td>
                                <td th:text="${product.subCategoryName}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.size}"></td>
                                <td th:text="${product.status} ? 'Còn đồ' : 'Hết đồ'"></td>
                                <td th:text="${product.rentalCount}"></td>
                                <td th:text="${product.createdAt}"></td>
                                <td class="td-action">
                                    <button class='btn-edit'>
                                        <div th:attr="id=${'tab-edit-product-' + product.id}">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </div>

                                    </button>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/service/adminControl.js"></script>
<script>
    $(document).ready(function(){
        $(".btn-delete").click(function(){
           const productId = $(this).data("id");

           Swal.fire({
                title: 'Bạn có chắc chắn?',
                text: "Hành động này không thể hoàn tác!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/api/products/delete/${productId}`,
                        type: "DELETE",
                        success: function(response){
                            Swal.fire({
                                 icon: 'success',
                                 title: response,
                                 text: 'Đã xóa sản phẩm ra khỏi danh sách',
                             });
                        },
                        error: function(response){
                            Swal.fire({
                                 icon: 'error',
                                 title: "Lỗi",
                                 text: 'Đã xảy ra lỗi khi xóa thông tin',
                             });
                        }
                    })
                }
            });


        })
    })
</script>

</body>

</html>