/** about section **/

.about {
    background: url(../images/about_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.about .container {
    position: absolute;
    top : 90px ;
    left: 100px;
    z-index: 10;
}

.about .titlepage {
    text-align: left;
}

.about .titlepage h2 {
    color: #000000;
}

.about .titlepage p {
    color: #000000;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .titlepage .read_more:hover {
    background: #fff;
    color: #bc1939 !important;
}

#img_artist_about{
    position: absolute;
    right: 0;
    bottom: -120px;
    width: 50%; /* Ảnh sẽ chiếm 50% chiều rộng của phần tử cha */
    height: auto;
}

/* Responsive cho màn hình vừa */
@media (max-width: 768px) {
  #about {
    flex-direction: column; /* Xếp dọc */
  }

  .about .container {
       top : 20 ;
       left : 0 ;
  }

  .titlepage h2 {
    font-size: 1.5rem;
  }

  .titlepage p {
    font-size: 0.9rem;
  }

  #img_artist_about {
    max-width: 250px;
  }

  #img_artist_about{
    display: hidden;
  }
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 480px) {
  .titlepage h2 {
    font-size: 1.2rem;
  }

  .about .container {
     top : 20 ;
     left : 0 ;
  }

  .titlepage p {
    font-size: 0.8rem;
  }

  #img_artist_about {
    max-width: 200px;
  }

  #img_artist_about{
    display: hidden;
  }
}


/** end about section **/