/** contact **/

.contact {
    background: url(../images/contact.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 90px 0;
}

.contact .titlepage h2 {
    color: #080707;
}

.white {
    color: #fff;
}

.main_form .contactus {
    padding: 0px 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 60px;
    background: #fff;
    color: #777977;
    font-size: 17px;
    font-weight: normal;
    border-radius: 30px;
    border: #ddd solid 1px;
}

.main_form .textarea {
    padding: 0px 30px;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    color: #777977;
    font-size: 17px;
    font-weight: normal;
    border-radius: 30px;
    border: #ddd solid 1px;
    padding-top: 60px;
    height: 160px;
}

.main_form .send_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #000000;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 0px;
    max-width: 190px;
    width: 100%;
    display: block;
    margin-top: 10px;
    border-radius: 30px;
}

.main_form .send_btn:hover {
    background-color: #fff;
    transition: ease-in all 0.5s;
    color: #bc1939;
}

#request *::placeholder {
    color: #777977;
    opacity: 1;
}

#map {
    height: 100%;
    min-height: 432px;
}

.center_row{
    display: flex;
    flex-direction: row;
}

.login_btn{
    margin-left: 50px;
}

/** end contact **/




/* Time Section */
  #scheduler{
    display: none;
    position: absolute;
    z-index: 10000;
  }

  .time-section {
    background: #3a3a55;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .time-header h3 {
    margin: 0;
    font-size: 1.1rem;
  }

  .time-picker-btn {
    background: none;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    height: 60px;
    width: 100%;
  }

  .time-picker-btn:hover {
    background: #444;
  }

  .time-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .time-slot {
    background: #4caf50;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }

  .time-slot:hover {
    background: #388e3c;
  }

  .time-grid .isPicked {
    background: #999999;
  }

  .time-grid .selected{
    background: #ff0000;
  }

  .date-picker{
     width: 100%;
  }

  #title_date_picker{
    color: #ffffff;
  }


  /* Responsive cho màn hình nhỏ hơn */
@media (max-width: 768px) {
  .d-flex{
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .d-flex > .col-6{
    min-width: 100%;
  }

}

/* Responsive cho màn hình rất nhỏ (điện thoại) */
@media (max-width: 480px) {
  .d-flex{
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .d-flex > .col-6{
    min-width: 100%;
  }
}