<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <layout:fragment name="header">
    </layout:fragment>
</head>
<body>
<!-- header -->
<div id="header">
    <!-- header inner -->
    <div class="container_top_header">
        <div class="custom-header">
            <div class="header-left">
                <a href="/home" class="header-link">Home</a>
                <a href="/login" class="header-link">Login</a>
            </div>
            <div class="header-right">
                <a href="/contact-us" class="header-link">Contact Us</a>
                <a href="/account" class="header-link">Account</a>
            </div>
        </div>
    </div>
    <!-- end header inner -->

    <!-- bottom header-->
    <div id="container_bottom_header" class="row">
        <div id="left_bottom_header">
            <a href="cosplay.html"><img src="images/logo_cosplay.png"></a>
        </div>
        <div id="middle_bottom_header">
            <ul class="nav_main">
                <li class="center">
                    <a class="title_category_cosplay" href="#"> ANIMES </a>
                    <ul class="dropdown_submenu">
                        <li><a>DRAGON BALL </a></li>
                        <li><a>ATTACK ON TITAN </a></li>
                        <li><a>NARUTO </a></li>
                        <li><a>ONE PEACE </a></li>
                        <li><a>ONE PUNCH MAN</a></li>
                        <li><a>JUJUTSU KAISEN</a></li>
                    </ul>
                    <i class="fa-solid fa-caret-down"></i>
                </li>
                <li class="center">
                    <a class="title_category_cosplay" href="#"> MOVIE   </a>
                    <ul class="dropdown_submenu">
                        <li><a>RESIDENT EVIL </a></li>
                        <li><a>SUPERMAN</a></li>
                        <li><a>SPIDER-MAN </a></li>
                        <li><a>AQUAMAN</a></li>
                        <li><a>IT</a></li>
                        <li><a>CAPTAIN MAVEL</a></li>
                    </ul>
                    <i class="fa-solid fa-caret-down"></i>
                </li>
                <li class="center">
                    <a class="title_category_cosplay" href="#"> GAME   </a>
                    <ul class="dropdown_submenu">
                        <li><a>FATE GRAND ORDER</a></li>
                        <li><a>LEAGUE OF LEGION </a></li>
                        <li><a>HONKAI STAR RAIL</a></li>
                        <li><a>GENSHIN IMPACT </a></li>
                        <li><a>VANLORANT</a></li>
                    </ul>
                    <i class="fa-solid fa-caret-down"></i>
                </li>
                <li class="center">
                    <a class="title_category_cosplay" href="#"> FESTIVAL   </a>
                    <ul class="dropdown_submenu">
                        <li><a>HALLOWEEN </a></li>
                        <li><a>MERRY CHRISTMAS</a></li>
                    </ul>
                    <i class="fa-solid fa-caret-down"></i>
                </li>

            </ul>
        </div>
        <div id="right_bottom_header">
            <div class="search-bar">
                <input type="text" placeholder="Tìm kiếm...">
                <button><i class="fa fa-search"></i></button>
            </div>
            <div class="cart-icon">
                <i class="fa fa-shopping-cart"></i>
                <span class="cart-count">0</span>
            </div>
        </div>
    </div>
</div>
<!-- end bottom header-->

<!-- end header -->

<div layout:fragment="content">
    <!-- Nội dung của trang con sẽ xuất hiện ở đây -->
</div>

<!--  footer -->
<footer id="contact">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-4">
                    <form class="bottom_form">
                        <h3>Newsletter</h3>
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="row">
                        <div class="col-md-7 padd_bottom">
                            <div class="heading3">
                                <a href="#"><img src="images/logo.png" alt="#" style="width: 80px;"/></a>
                                <p>Chào mừng bạn đến với trang web của chúng tôi. Chúng tôi chuyên cung cấp các dịch vụ và sản phẩm làm đẹp, đặc biệt là trang điểm cho các sự kiện như đám cưới, tiệc, và các dịp đặc biệt khác. Liên hệ với chúng tôi để biết thêm thông tin chi tiết.</p>
                            </div>
                        </div>
                        <div class="col-md-5 padd_bottom padd_bott">
                            <div class="heading3">
                                <h3>Contact Us</h3>
                                <ul class="infometion">
                                    <li><a href="#">273 Đ. An Dương Vương, Quận 5, Hồ Chí Minh</a></li>
                                    <li><a href="#">Điện thoại: 0123 456 789</a></li>
                                    <li><a href="#">Email: huynhminhquan07072002@gmail.com</a></li>
                                    <li><a href="#">Giờ làm việc: 8:00 - 18:00</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="row">
                        <div class="col-md-6 offset-md-1 padd_bottom">
                            <div class="heading3">
                                <h3>INFORMATION</h3>
                                <ul class="infometion">
                                    <li><a href="#">Dịch vụ trang điểm chuyên nghiệp</a></li>
                                    <li><a href="#">Sản phẩm mỹ phẩm chất lượng cao</a></li>
                                    <li><a href="#">Chương trình ưu đãi</a></li>
                                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                                    <li><a href="#">Chính sách bảo hành</a></li>
                                    <li><a href="#">Hỗ trợ khách hàng 24/7</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="heading3">
                                <h3>MY ACCOUNT</h3>
                                <ul class="infometion">
                                    <li><a href="#">Quản lý đơn hàng</a></li>
                                    <li><a href="#">Lịch sử mua hàng</a></li>
                                    <li><a href="#">Đổi trả sản phẩm</a></li>
                                    <li><a href="#">Cập nhật thông tin cá nhân</a></li>
                                    <li><a href="#">Ưu đãi thành viên</a></li>
                                    <li><a href="#">Hỗ trợ tài khoản</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>2024 Website makeup</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
            e.preventDefault();
            const target = document.querySelector(this.getAttribute('href'));
            window.scrollTo({
              top: target.offsetTop,
              behavior: 'smooth'
            });
          });
        });
    </script>
    <div th:replace="~{:: js}"></div>

</body>
</html>